<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Đăng Nhập Quản Trị</title>
  <link rel="stylesheet" th:href="@{/css/base.css}" />
  <link rel="stylesheet" th:href="@{/css/loginAdmin.css}" />
  <link rel="stylesheet" th:href="@{/fontawesome-free-7.1.0-web/css/all.min.css}" />
</head>
<body>
<div class="login-container">
  <div class="login-card">
    <div class="login-logo">
        <div class="logo-wrapper">
          <img th:src="@{/images/logo.svg}" alt="Outerity" class="logo-text">
          <img th:src="@{/images/logo-lock.png}" alt="Lock" class="logo-icon">
        </div>
    </div>

    <h2>Đăng Nhập Tài Khoản</h2>
    <p class="subtitle">Nhập tên đăng nhập và mật khẩu của bạn</p>

    <div th:if="${loginError}" class="error" th:text="${loginError}"></div>

    <form th:action="@{/admin/login}" method="post" id="loginForm">
      <input type="text" name="username" placeholder="Nhập tên đăng nhập" required />
      <input type="password" name="password" placeholder="Mật Khẩu" required />
      <button type="submit" class="btn-login">Đăng Nhập</button>
    </form>
  </div>
</div>
</body>
</html>

