<div th:fragment="content" class="order__content">
  <div th:if="${#lists.isEmpty(orders)}">
    <p>Bạn chưa có đơn hàng nào.</p>
  </div>
  <div class="order__new" th:each="order : ${orders}">
    <div class="order__category">
      <div class="order__product" th:each="item : ${order.items}">
        <div class="order__img">
          <img
                  th:src="${item.image}"
                  alt="image"
          />
        </div>
        <div class="order__hero">
          <h4 class="order__title" th:text="${item.nameProduct}"></h4>
          <div class="order__wrapper">
            <p>
              Size:
              <span th:text="${item.size} + '/' "></span>
              <span th:text="${item.color}"></span>
            </p>
            <p>
              Số lượng:
              <span th:text="${item.quantity}"></span>
            </p>
            <p th:text="${item.price}"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="order__total">
      <p>
        Tổng số tiền:
        <span th:text="${order.total}"></span>
      </p>
    </div>

    <div class="order__control">
      <button class="btn order__status" onclick="openModal()">
        Hủy đơn hàng
      </button>
      <a class="btn order__status" th:href="@{/home}">Về trang chủ</a>
    </div>

  <!-- Modal Box -->
  <form id="modal" th:action="@{/order/update}" method="post" class="modal">
    <input type="hidden" name="status" value="Cancelled">
    <input type="hidden" name="orderId" th:value="${order.id}">
    <div class="modal-content">
      <h2>Xác nhận hủy đơn</h2>
      <p>Bạn có chắc chắn muốn hủy đơn hàng này không?</p>
      <div class="modal-buttons">
        <button type="button" class="btn_layout" onclick="closeModal()">Không</button>
        <button
          class="btn_layout"
          type="submit"
        >
          Xác nhận
        </button>
      </div>
    </div>
  </form>
  </div>
</div>
