<div th:fragment="content">
  <div class="order__new">
    <div class="order__category">
      <div class="order__product">
        <div class="order__img">
          <img
            src="https://product.hstatic.net/200000312481/product/z5334858888217_a9a4579df8f72de94131d211636ce17e_0c6e2045c7a14b51969cd3a7ddc3e2e8_master.jpg"
            alt=""
          />
        </div>
        <div class="order__hero">
          <h4 class="order__title">
            ÁO THUN FORM BOXY OUTERITY DREAM NỈ HAI DA
          </h4>
          <div class="order__wrapper">
            <p>
              Size:
              <span>M / </span>
              <span>Xám</span>
            </p>
            <p>173,000d</p>
          </div>
        </div>
      </div>
      <div class="order__product">
        <div class="order__img">
          <img
            src="https://product.hstatic.net/200000312481/product/z5334858888217_a9a4579df8f72de94131d211636ce17e_0c6e2045c7a14b51969cd3a7ddc3e2e8_master.jpg"
            alt=""
          />
        </div>
        <div class="order__hero">
          <h4 class="order__title">
            ÁO THUN FORM BOXY OUTERITY DREAM NỈ HAI DA
          </h4>
          <div class="order__wrapper">
            <p>
              Size:
              <span>M / </span>
              <span>Xám</span>
            </p>
            <p>173,000d</p>
          </div>
        </div>
      </div>
      <div class="order__product">
        <div class="order__img">
          <img
            src="https://product.hstatic.net/200000312481/product/z5334858888217_a9a4579df8f72de94131d211636ce17e_0c6e2045c7a14b51969cd3a7ddc3e2e8_master.jpg"
            alt=""
          />
        </div>
        <div class="order__hero">
          <h4 class="order__title">
            ÁO THUN FORM BOXY OUTERITY DREAM NỈ HAI DA
          </h4>
          <div class="order__wrapper">
            <p>
              Size:
              <span>M / </span>
              <span>Xám</span>
            </p>
            <p>173,000d</p>
          </div>
        </div>
      </div>
    </div>
    <div class="order__total">
      <p>
        Tổng số tiền:
        <span>208,000d</span>
      </p>
    </div>

    <div class="order__control">
      <button class="btn order__status" onclick="openModal()">
        Hủy đơn hàng
      </button>
      <a class="btn order__status" th:href="@{/home}">Về trang chủ</a>
    </div>
  </div>

  <!-- Modal Box -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <h2>Xác nhận hủy đơn</h2>
      <p>Bạn có chắc chắn muốn hủy đơn hàng này không?</p>
      <div class="modal-buttons">
        <button class="btn" onclick="closeModal()">Không</button>
        <button
          class="btn"
          th:onclick="|window.location.href='@{/layoutOrder(type=cancelled)}'|"
        >
          Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>
