html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.main__productDetails-wrap {
    flex: 1; 
    padding-top: 131px;
}

.pd__wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.pd__img{
    width: 500px;
    height: 586px;
}

.pd__img-item{
    width: 70%;
}

.pd__info{
    width: 500px;
    height: 453px;
    border: 1px solid var(--border-color);
    padding: 20px;
}

.pd__title{
    font-weight: 500;
}

.pd__code{
    padding: 5px 0 15px 0;
    font-size: 14px;
    font-weight: 500;
    color: #777777;
}

.pd__line{
    width: 95%;
    height: 1px;
    background-color: var(--border-color);
}

.pd__price{
    padding: 15px 0;
    color: #FF0000;
    font-weight: 700;
    font-size: 18px;
}

.pd__color-selected{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.pd__color-label{
    padding-top: 15px;
}

.pd__color-item{
    width: 22px;
    height: 22px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    margin: 15px 0;
}

.pd__size{
    margin: 15px 0;
}

.pd__size-btn{
    width: 37px;
    height: 33px;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    font-size: 16px;
    color: var(--black-color);
    font-weight: 600;
    margin: 0 5px;
}

.pd__quantity{
    display: flex;
    margin: 15px 0;
}

.quantity-common{
    width: 27px;
    height: 30px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    background-color: var(--border-color);
}

.quantity{
    width: 65px;
    height: 30px;
    border: 1px solid var(--border-color);
    text-align: center;
    font-weight: 700;
    padding: 4px 0;
}

.btn__add-cart{
    width: 60%;
    padding: 8px 0;
    margin: 15px 0;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 5px;
}

/* describe */
.pd__describe{
    width: 532px;
    height: 350px;
    display: flex;
    border: 1px solid var(--black-color);
    margin-left: -200px;
}

.db__img-item{
    width: 400;
    height: 350px;
}

.db__wrap{
    display: flex;
    flex-direction: column;
}

.db__common{
    padding: 50px 40px;
    
}

.db__size{
    border-bottom: 1px solid var(--black-color);
}

.product__db{
    flex: 1;
    border-left: 1px solid var(--black-color);
}

.item__common{
    color: #777777;
    font-weight: 600;
}

.size__heading-2,
.color__heading-2,
.product__heading-2{
    margin-bottom: 10px;
}

.describe__heading{
    margin-left: 344px;
}
