<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Contact</title>
    <!-- CSS  -->
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/checkout.css}" />
    <!-- ICON FONTAWESOME -->
    <link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}" />
    <!-- ICON IONICS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </head>

  <body>
    <div class="container">
      <div class="checkout">
        <h3>Tổng quan đơn hàng</h3>
        
      </div>
    </div>
  </body>
</html>
