<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- layout css -->
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/js/home.js}">
    <link rel="stylesheet" th:href="@{/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-free-7.1.0-web/css/all.min.css}">
    <link rel="icon" th:href="@{/images/favicon.png}">

    <title>Outerity</title>
</head>
<body>

    <!-- header -->
    <div th:replace="layout ::header"></div>

    <!-- <h1>List of product</h1>
    <div class="container">
        <div th:each="product : ${products}">
            <h3>Product name: </h3>
            <p th:text="${product.name}"></p>
            <h4>Description: </h4>
            <p th:text="${product.description}"></p>
            <div th:each="variant : ${product.variants}" class="variants">
                <h5 th:text="${variant.code_product_variant}"></h5>
                <img th:src="@{${variant.imageUrl}}" alt="image">
            </div>
        </div>
    </div> -->

    <!-- main -->
    <main class="main-wrap">
        
        <div class="main__slide">
            <img th:src=@{/images/banner_1.jpg} alt="banner_1"  class="slide__img">
            <img th:src=@{/images/banner_2.jpg} alt="banner_2"  class="slide__img">
            <img th:src=@{/images/banner_3.jpg} alt="banner_3"  class="slide__img">
            <img th:src=@{/images/banner_4.jpg} alt="banner_4"  class="slide__img">
        </div>

        <h2 class="main__title-product">DOUBLE TEE COLLECTION</h2>

        <div class="main__product">

            

        </div>

        <button class="main__product-btn btn"></button>

        <div class="main__banner">

        </div>

    </main>


    <!-- footer -->
    <div th:replace="layout ::footer"></div>

    <span class="footer">Copyright © 2025 Outerity. Powered by Haravan</span>

    <script th:src=@{/js/script.js}></script>
</body>
</html>