<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <h1>List of product</h1>
    <div class="container">
        <div th:each="product : ${products}">
            <h3>Product name: </h3>
            <p th:text="${product.name}"></p>
            <h4>Description: </h4>
            <p th:text="${product.description}"></p>
            <div th:each="variant : ${product.variants}" class="variants">
                <h5 th:text="${variant.code_product_variant}"></h5>
                <img th:src="@{${variant.imageUrl}}" alt="image">
            </div>
        </div>
    </div>
</body>
</html>