<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/auth.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    <link rel="stylesheet" th:href="@{/css/layoutInfo.css}">
    <link rel="stylesheet" th:href="@{/css/info.css}">
    <link rel="stylesheet" th:href="@{/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-free-7.1.0-web/css/all.min.css}">
    <link rel="icon" th:href="@{/images/favicon.png}">
    <title>Outerity</title>

</head>
<body>
    <div th:replace="layout ::header"></div>

    <h1 class="main__title">Tài khoản của bạn</h1>

    <div class="main__wrap">
        <div th:replace="layoutInfo ::sidebar"></div>

        <div class="toaster" th:if="${message != null}" th:text="${message}"></div>

        <form th:action="@{/info/update}" method="post" th:object="${info}">
            <div class="grid__column-10 info">
                <p class="info__heading">Thông tin tài khoản</p>
                <input
                        type="text"
                        class="info__input"
                        th:field="*{name}"
                        placeholder="Lãm Thúy"
                        required
                >
                <input
                        type="text"
                        class="info__input"
                        th:field="*{phone}"
                        placeholder="0377219288"
                        pattern="^\d{10}$"
                        title="Số điện thoại phải gồm đúng 10 chữ số"
                        required
                >
                <input
                        type="text"
                        class="info__input"
                        th:field="*{address}"
                        placeholder="Địa chỉ"
                        required
                >
                <button class="btn info__btn" type="submit">Cập nhật</button>
            </div>

        </form>

    </div>



    <div th:replace="layout ::footer"></div>

    <span class="footer">Copyright © 2025 Outerity. Powered by Haravan</span>

    <script th:src="@{/js/logoutHandle.js}"></script>
    <script th:src="@{/js/openCart.js}"></script>
    <script>
        const toaster = document.querySelector('.toaster');
        if (toaster) {
            setTimeout(() => {
                toaster.remove();
            }, 2000);
        }
    </script>
</body>
</html>
