<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/layoutInfo.css}">
    <link rel="stylesheet" th:href="@{/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-free-7.1.0-web/css/all.min.css}">
    <link rel="icon" th:href="@{/images/favicon.png}">
    <title>Outerity</title>
</head>
<body>

    <div class="grid__column-2 main__sidebar" th:fragment="sidebar">

        <div class="main__heading">
            <p class="heading__title">Xin chào bạn !</p>
            <p class="heading__name">Name</p>
        </div>

        <div class="main__nav">
            <ul>
                <li class="nav__item">
                    <a href="">
                        <i class="nav__item-icon ti-id-badge"></i>
                        Thông tin của tôi
                    </a>
                </li>
                <li class="nav__item">
                    <a href="">
                        <i class="nav__item-icon ti-package"></i>
                        Đơn hàng của tôi
                    </a>
                </li>
                <li class="nav__item">
                    <a href="">
                        <i class="nav__item-icon fa-solid fa-arrow-right-from-bracket"></i>
                        Đăng xuất
                    </a>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>